section.banner {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
section .searchBox {
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 50px;
    
}



.searchBox h1 {
    font-size: 58px;
    font-weight: 700;
    margin-bottom: 40px;
    color: #fff;
    text-align: center;
}

.searchBox p {
    font-size: 18px;
    line-height: 34px;
    margin-bottom: 0;
    font-weight: 300;
    color: #fff;
    text-align: center;
}

section .boxSearchComponent {
    background-color: #fff;
    padding: 15px;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    margin: 25px 0 100px 0;
    width: 70%;
}

section .boxSearchComponent input,
select {
    padding: 15px;
    border: solid 1px #ccc;
    border-radius: 50px;
    font-size: 18px;
    width: 100%;
    margin-right: 10px;
    outline: none;
}

section .boxSearchComponent button {
    padding: 15px;
    border-radius: 50px;
    background: linear-gradient(#6787FE, #6787FE);
    border: solid 1px #6787FE;
    color: #fff;
    font-size: 18px;
    width: 150px;
}

@media (max-width: 760px) {
    section .searchBox {
        margin-top: 20px;
        padding-right: 10px;
        padding-left: 10px;
    }

    .searchBox h1 {
        font-size: 35px;
        margin-bottom: 10px;
    }

    .searchBox p {
        font-size: 16px;
    }

    section .boxSearchComponent {
        padding: 15px;
        flex-direction: column;
        border-radius: 20px;
        margin: 25px 10px 50px 10px;
        width: 95%;
    }

    section .boxSearchComponent input,
    select {
        width: 100%;
        margin-bottom: 10px;
    }

    section .boxSearchComponent button {
        width: 100%;
    }
}