.popular-services .container {
    display: block;
}
.popular-services .container h2 {
    text-align: center;
}
.popular-services .featured-item {
    
    width: 33%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    margin-bottom: 15px;
}
.popular-services .featured-body {
    
    border: solid 1px #ccc;
    border-top: 0px;
    padding: 10px;
    background-color: aliceblue;
}
.popular-services .feature-item-images-single {
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    flex-wrap: nowrap;
}
.popular-services .feature-item-images-single img {
    width: 100%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}