.popular-services .container {
    display: block;
}
.popular-services .container h2 {
    text-align: center;
    margin-bottom: 35px;
    margin-top: 25px;
}

.popular-services .carousel {
    margin-top: 20px;
}
.popular-services .carousel .carousel-inner {
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}
.popular-services .carousel-inner img {
    width: 100%;
}
.carousel-indicators {
    justify-content: end;
    margin-right: 10px;
    margin-left: auto;
    width: 70px;
    
}
.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.popular-services .featured-body {
    
    border: solid 1px #f0f0f0;
    border-top: 0px;
    padding: 15px;
    background-color: #fff;
    position: relative;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
}

.popular-services .featured-body i.heart {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: #007bff;
    cursor: pointer;
}
.popular-services .featured-body .avaliacao {
    font-size: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}
.popular-services .featured-body .avaliacao span {
    margin: 0px 5px
}
.popular-services .featured-body .avaliacao .qtd-rating {
    font-size: 15px;
}
.popular-services .featured-body i.bi-star {
    color: #ee4d2d;
    margin-right: 3px;
}

.popular-services .featured-body h3 {
    font-size: 22px;
}
.popular-services .featured-body .badge {
    margin-right: 3px;
    font-weight: 300;
    font-size: 15px;
    padding: 8px
}

@media (max-width: 760px) {
    .titleSection {
        font-size: 30px;
    }
}