<section class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="logo">
          <img src="assets/images/logo.png" />
        </div>
        <p>
          Estamos aqui para ajudar pessoas e empresas a ingressar no digital.
        </p>
        <div class="newsletter">
          <input type="text" placeholder="Informe seu e-mail" name="" id="" />
          <button class="button-blue">Assinar</button>
        </div>
      </div>
      <div class="col-md-3">
        <div class="list-module">
          <h3>Sobre o Negócios</h3>
          <ul>
            <li><a [routerLink]="'/'">Institucional</a></li>
            <li><a [routerLink]="'/'">Para você</a></li>
            <li><a [routerLink]="'/'">Para empresas</a></li>
            <li><a [routerLink]="'/'">Trabalhe conosco</a></li>
            <li><a [routerLink]="'/'">Cidades Atendidas</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <div class="list-module">
          <h3>Comunidade</h3>
          <ul>
            <li><a [routerLink]="'/'">Fazer meu cadastro</a></li>
            <li><a [routerLink]="'/'">Parceiria</a></li>
            <li><a [routerLink]="'/'">Publicidade</a></li>
            <li><a [routerLink]="'/'">Leve para sua cidade</a></li>
            <li><a [routerLink]="'/'">Incentivo a educação</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-2">
        <div class="list-module">
          <h3 class="conecte">Conecte-se</h3>
          <div class="social-icons">
            <div class="icon">
              <i class="bi bi-instagram"></i>
            </div>
            <div class="icon">
              <i class="bi bi-facebook"></i>
            </div>
            <div class="icon">
              <i class="bi bi-twitter"></i>
            </div>
          </div>
          <h3 class="conecte">Baixe o App</h3>
          <div class="app-download">
            <div class="app-loja">
              <img src="assets/images/apple_store_badge.png" alt="" srcset="" />
            </div>
            <div class="app-loja">
              <img src="assets/images/play_store_badge.png" alt="" srcset="" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row border-top mt-3 pt-3">
      <div class="col-md-4">
        <div class="termos">
          <ul>
            <li><a href="">Termos de Uso</a></li>
            <li><a href="">Política de Privacidade</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="copy">
          © {{ fullYear }} Negócios Todos os Direitos Reservados.
        </div>
      </div>
      <div class="col-md-4 text-right">
        <div class="feito">
          Feito com <i class="b bi-heart-fill done"></i> para você
        </div>
      </div>
    </div>
  </div>
</section>
