<section class="section-icons bg-white">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-4">
          <div class="icons-data">
            <img
              src="assets/images/s-1-pgwx03fce8sb2k2xj8e5lvoxxehksx5ao5dsd3na34.jpg"
            />
            <h4>Profissionais Qualificados</h4>
            <p>
              Todas as empresas cadastradas são avaliadas pelos usuários dos
              serviços e moderadas pelo nosso time.
            </p>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="icons-data">
            <img
              src="assets/images/s-2-pgwx0gl31xabl3jtee2xksde8sopsoljdyil2z3ro0.jpg"
            />
            <h4>Transformação Digital</h4>
            <p>
              A forma mais fácil de colocar sua empresa na internet e divulgar
              seus produtos e serviços
            </p>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="icons-data">
            <img
              src="assets/images/s-3-pgwx0igrflcw8bh33ew6prwbfkfg82t027tk1j0zbk.jpg"
            />
            <h4>Crescimento Pessoal</h4>
            <p>
              Encontre a vaga de emprego ideal para você. O seu próximo trabalho
              pode estar aqui.
            </p>
          </div>
        </div>
      </div>
    </div>
</section>
