<div class="container-fluid mb-2 bg-white">
  <div class="container">
    <div class="row">
      <div class="col-6 col-md-3 text-center statistics">
        <div class="icon-statistic">
          <i class="b bi-person person-blue"></i>
        </div>
        <h4>937M</h4>
        <small>Usuários</small>
      </div>
      <div class="col-6 col-md-3  text-center statistics">
        <div class="icon-statistic">
          <i class="b bi-file-earmark-check person-green"></i>
        </div>
        <h4>840M</h4>
        <small>Curriculos</small>
      </div>
      <div class="col-6 col-md-3 text-center statistics">
        <div class="icon-statistic">
          <i class="b bi-briefcase person-orange"></i>
        </div>
        <h4>130M</h4>
        <small>Empresas / Serviços</small>
      </div>
      <div class="col-6 col-md-3 text-center statistics">
        <div class="icon-statistic">
          <i class="b bi-briefcase-fill person-red"></i>
        </div>
        <h4>640M</h4>
        <small>Vagas de emprego</small>
      </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="call-to-action-sign-up">
                <div class="call-to-action-left-side">
                    <h2>Encontre empresas, serviços, talentos e empregos</h2>
                    <p>Faça o seu cadastro e faça parte da maior comunidade de negócios da região</p>
                    <button class="button-blue">Faça seu cadastro agora</button>
                </div>
                <div class="call-to-action-right-side">
                    <img src="assets/images/21207.png" />
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
