<header>
  <div class="container" [ngClass]="completo ? 'menu-transparent' : 'menu-white'">
    <div class="logo">
      <img [src]="logo" alt="Logo" />
    </div>
    <div class="menu">
      <div class="menu-internal">
        <ul>
          <li><a href="">Início</a></li>
          <li><a href="">Sobre Nós</a></li>
          <li><a href="">Criar conta</a></li>
        </ul>
      </div>
    </div>
    <div class="buttonLogin">
      <div class="col-md-3"><a class="loginButton" href="">Login</a></div>
    </div>
  </div>
  <div class="searchBox">
    <app-search></app-search>
  </div>
  <div class="background-overlay"></div>
</header>
