@import "~bootstrap-icons/font/bootstrap-icons.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8fafb;
}
.container {
    max-width: 1280px;
}
.titleSection {
    text-align: center;
    color: #333333;
    font-family: "Poppins", Sans-serif;
    font-size: 56px;
    font-weight: 700;
}
.bg-white {
    background-color: #fff;
}

.button-blue {
    display: inline-block;
    padding: 18px 50px;
    color: #fff;
    border-radius: 50px;
    cursor: pointer;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    vertical-align: middle;
    background-color: #6787FE;
    border: solid 1px #6787FE;
}

@media (max-width: 760px){
    .container-fluid {
        
    }
}