.partner {
    background-color: #fff;
}
.partner .container {
    padding-top: 50px;
    padding-bottom: 50px;
    display: block!important;
}

.partner .partners {
    display: flex;
    justify-content: center;
    align-items: center;
}
.partner .partners .partner-logo img {
    max-width: 100%;
    opacity: 0.5;
    vertical-align: middle;
    transition: all ease 0.5s;
}
.partner .partners .partner-logo:hover img {
    opacity: 1;
}