<section class="partner">
  <div class="container">
    <div class="partners">
      <div class="partner-logo">
        <img src="assets/images/partners/1.jpg" alt="" />
      </div>
      <div class="partner-logo">
        <img src="assets/images/partners/2.jpg" alt="" />
      </div>
      <div class="partner-logo">
        <img src="assets/images/partners/5.jpg" alt="" />
      </div>
      <div class="partner-logo">
        <img src="assets/images/partners/6.jpg" alt="" />
      </div>
    </div>
  </div>
</section>
